label {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

#countrySelectionDiv {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
}

#continueButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    display: block;
    cursor: pointer;
}
