@{
    ViewBag.Title = "Home Page";
}
<head>
    <style></style>
</head>

<h1>Health Expenditure and Life Expectancy</h1>

<p>
    My CMPT 767 Project provides various graphs for visualizing various countries' Health Expenditures, Life Expectancy and the relationship between both of them.
    The data is curated from the GHO website. The Global Health Observatory is the World Health Organization's initiative to share global health data, providing country-by-country statistics and information on specific diseases and health initiatives.
</p>